
    <h3> item_bag </h3>
    
    <h4>add_item </h4> 
    <p> The instance of the item_nag stores an instance of an item object in an array </p>
    
    <h4>give_item_to(player, choice) </h4> 
    <p>Takes two arguments: player, and choice. Allows player to pick up an item, storing it in there instance of an item_bag.
      The 'player' must be an instance of one of the player objects 'Molly' or 'Tahlia'. The 'choice' must be the exact name 
      of an object</p>
    
    <h4>show_inventory(player) </h4> 
    <p> Takes one argument: player. The player must be an instance of either the players 'Molly' or 'Tahlia'.
       Puts the contents of the player's item bag to the terminal</p>


