
       
      <h3> player_manager </h3>

     <div class="method-group">
        <div class="panel panel-default">
          <div class="panel-heading"> health_status</div>
            <div class="panel-body">
                Puts to the console the current health status of both 'molly' and 'tahlia', including health out of 100
                and states if the player is still alive. 
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">at_least_one_alive</div>
            <div class="panel-body">
              Will return true if at least one of 'molly' or 'tahlia' is alive and false if both are dead
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">select_all_players </div>
            <div class="panel-body">
              Stores the currently in use instances of 'molly' and 'tahlia' in an array if the instance still has health above 0
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">show_all_inventories </div>
            <div class="panel-body">
              Puts to the console both 'Molly' and 'tahlia's' current inventoies
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">select_a_player_no_input(player)</div>
            <div class="panel-body">
              Takes one argument: player. Player must be the current instance of either 'Molly' or 'Tahlia'
              Allows a player to be selected manually within the in the background by the developer, meaning that no external input of
              the player of the game is needed to select the character needed.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">inventory_list</div>
            <div class="panel-body">
              Shows the inventories of both the current instance of 'tahlia' and 'molly'
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">select_a_player</div>
            <div class="panel-body">
              Allows the player of the game to specify the character that they want to use. Returns the current instance
              of 'tahlia' if the name tahlia is typed into the terminal or the current instance of 'molly' if the name molly is inputted.
              It also checks that the instance has a health above 0 before returning the character
            </div>
          </div>
        </div>
      </div>



