

      <h3> scene_manager </h3>
    

<h4>next_scene(scene_name)</h4>
<p>Takes one argument: scene_name. The scene_name must be the name of a scene as specified in the @@scenes hash</p>
<h4>opening_scene</h4>
<p>Uses the next_scene method to return the scene at which the game will start</p>
