
    <h3> ambush_weapon_bag </h3>
    
<h4>ambush_weapon</h4>
  <h5>power_decrease(amount)</h5>
  <p>Takes one argument: amount. This decreases the power of the weapon so that it can only be used a limited number of times</p>
    
  <h5>enough_power?</h5>
  <p> returns true if power is greater than 0</p>
  
<h4>bill_puppet</h4>
  <h5>random_attack</h5>
  <p>runs a random attack method out of 'head_butt', 'kick', 'string_wrap'</p>
    
  <h5>head_butt </h5>
  <p> An attack method of the enemy 'Cath' which prints its name to the console and returns a random number out of a specifed set of values </p>
  
  <h5>kick</h5>
  <p> See head_butt </p>
  
  <h5>string_wrap</h5>
  <p> See head_butt</p>
  
<h4>waterbottle</h4>
  <h5>bottle_whip</h5>
  <p>An attack method of the player which prints its name to the console and returns a random number from a specifed set of values</p>
  <h5>splash</h5>
  <p>See bottle_whip</p>
  <h5>blast</h5>
  <p>See bottle_whip</p>
<p></p>
