<h3>Enemy</h3>

<h4>Enemy</h4>
<h5>add_health(value)</h5>
<p>Takes one argument: value.
Adds health to the current instance of the enemy object. Also prints to console if the enemy has died or has come back to life</p>
<h5>take_damage(value)</h5>
<p>Takes one argument: value.
 The value is currently extracted from the returned integer of an attack method by the opposing team.
 Takes health from the current instance of the enemy object by the value given  
</p>
<h5>is_dead?</h5>
<p> returns true if instance of enemy has health less than 0</p>
<h5>is_alive?</h5>
<p>returns true if instance of enemy has health greater than 0</p>

<h4>Cath</h4>
<p> Inherits from Enemy </p>
  <h5> </h5>
  <p></p>
  

