<h3> Items </h3>
<p> All items except for the plastic aeroplane have some kind of effect on the health of the player that they are used on </p>
<h4>Pizza</h4>
  <h5>effect(player)</h5>
   <p>Takes one argument: player
      Increase player health by 50 and puts associated message to screen.
   </p>


<h4>Item</h4>
  <h5>effect(player)</h5>
   <p>puts associated message to screen.
   </p>


<h4>Primula_cheese_and_crackers</h4>
  <h5>effect(player)</h5>
   <p>Takes one argument: player
      Reduces player health by 25 and puts associated message to screen.
   </p>

<h4>socks</h4>
  <h5>effect(player)</h5>
   <p>Takes one argument: player
      Increases player health by 20 and puts associated message to screen.
   </p>


<h4>eye_ointment</h4>
  <h5>effect(player)</h5>
   <p>Takes one argument: player
      Reduces player health by 1 and puts associated message to screen.
   </p>

<h4>toy_plane</h4>
  <h5>effect(player) </h5>
    <p>Takes one argument: player. 
    Increases the strength of one of the player weapons by 1 </p>
    
