<h3> scenes </h3>

<h4>ambush </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
  <p>Takes two arguments: the_player_manager, the_enemy_manager.
  </p>
  <h5>fight(player, player_weapon, enemy, enemy_weapon)</h5>
  <p> Takes four arguments: player, player_weapon, enemy, enemy_weapon)</h5>
  </p>
<h4>campsite </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>cowfield </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>death </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>forest </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
  <h5>use_phone</h5>
<h4>hill </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>lake </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>road </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>
<h4>scene </h4>
  <h5> enter(the_player_manager, the_enemy_manager)</h5>
    <p> see ambush </p>

