<h3>Weapons</h3>

<h4>coconut</h4>
<h4>map</h4>
<h4>melon</h4>
<h4>phone</h4>
  <h5>attempt(player)</h5>
    <p>Takes one argument player. The player must be an instant of either the 'molly' or 'tahlia' class.
       Decides whether or not the phone weapon attempt will be successful. Will return either a random number
       with which to damage the player with or a output to the console stating that the attempt has been successful</p>
<h4>run</h4>
<h4>sing</h4>
<h4>weapon</h4>
  <h5>is_useable?</h5>
    <p> returns true if that instance of the weapon object has a value greater than 1 </p>
  <h5>use</h5>
    <p>Writes to console that the weapon has been used, subtracts 1 from the value of the weapon and returns true
       if the weapon is useable. Returns false if the weapon isn't useable.</p>
